<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$CONTENT_TITLE - Gearwood Puzzle Store">Gearwood Puzzle Store</title>
    <link rel="stylesheet" th:href="@{/css/GlobalStyles.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
</head>
<body>
    <div th:replace="~{fragments/Header :: main-header}"></div>
    <main layout:fragment="content">
    </main>
    <script th:src="@{/js/site.js}" defer></script>
</body>
</html>
