<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/fragments/header.css}">
    <title></title>
</head>
<body>

    <header th:fragment="main-header" class="main-header">

        <a th:href="@{/home}" class="logo">
            <img src="/BusinessImages/Logo.png" alt="Gearwood Logo" />
        </a>

        <nav class="main-nav">
            <a th:href="@{/home}">Home</a>
            <a th:href="@{/products/catalog}">Products</a>
            <a th:href="@{/cart}" sec:authorize="isAuthenticated()">Cart 🛒</a><span th:text="${cartCount}" id="cart-count"></span>
            <span class="nav-divider">|</span>
            <span sec:authorize="isAuthenticated()" class="greeting"
                  th:text="'Hello, ' + ${firstName}"></span>
            <a th:href="@{/account}" sec:authorize="isAuthenticated()">Account</a>
            <a th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
            <a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
            <a th:href="@{/register}" sec:authorize="isAnonymous()">Register</a>
        </nav>

    </header>

</body>
</html>
