<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/fragments/ProductCard.css}">
    <title></title>
</head>
<body>
<div th:fragment="productCard (productCode, productImg, productName, manufacturer, category, difficulty, price, description)" class="product-card">
    <a th:src="@{/products/{code}(code=${productCode})}">
    <img th:src="${productImg}" alt="product image" />
    <h3 th:text="${productName}"></h3>
    <p th:text="${description}">product description</p>
    <p><b>Price: </b> $<span class="price" th:text="${price}">price</span></p>
    <p><b>Manufacturer: </b> <span th:text="${manufacturer}">manufacturer</span></p>
    <p><b>Category: </b> <span th:text="${category}">category</span> |
        <b>Difficulty: </b><span th:text="${difficulty}">difficulty</span></p>
    </a>
</div>

</body>
</html>