<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/MainLayout}" lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/Login.css}">
</head>
<body>
    <main layout:fragment="content">
        <div class="form-container">
            <h1>Login</h1>
            <form class="login-form form-card" th:action="@{/login}" method="post">
                <div class="error-message" th:if="${error}" th:text="${error}"></div>
                <label for="email">Enter your email: </label>
                <input type="email" name="email" id="email" required />
                <label for="password">Enter your password: </label>
                <input type="password" name="password" id="password" required />
                <button type="submit" class="submit-button">Login</button>
            </form>
        </div>
    </main>
</body>
</html>
